h1 {
	margin-bottom: 20px;
}

.menu-item {
	background-color: #f6b319;
}

ul {
	background-color: #61122f;
	color: #FFF;
}

.container .row {
	height: 1000px;
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
    /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
	.row { 
		margin-right: 1px;
	 	margin-left: 1px; 
	}
}


